<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= form_tag("/login", method: "post") do %>
  <%= label_tag(:team, "Tiimi:") %>
  <%= text_field_tag(:team, '', autofocus: true) %>
  <%= submit_tag("Kirjaudu") %>
<% end %>
